vendor
Movefile
salt.php
config.json
composer.lock
/wp
wp-content/languages
wp-content/upgrade
wp-content/uploads
#wp-content/themes
wp-content/themes/twenty*
wp-content/plugins
wp-content/*.sql
local-config.json
local-config.php
config.php
wp-content/themes/vanilla
