{
  "server": {
    "host": "localhost",
    "port": "8080"
  },
  "mysql": {
    "database": "composer_wp_dev",
    "username": "root",
    "password": "",
    "host": "localhost"
  },
  "table_prefix": "wp_",
  "wp": {
    "title": "Welcome to the Composer",
    "description": "Hello World!",
    "gmt_offset": "9",
    "lang": "ja",
    "rewrute_structure": "/archives/%post_id%",
    "theme": "vanilla",
    "admin": {
      "user": "admin",
      "password": "admin",
      "email": "admin@example.com"
    }
  },
  "theme_unit_test_uri": "https://wpcom-themes.svn.automattic.com/demo/theme-unit-test-data.xml"
}
